DefaultSettings:
  General:
    Protected:
      BlockBreak: false
      BlockPlace: false
      General: false
    PreventEntry: false
    PreventExit: false
    MobSpawns: true
    MonsterSpawns: true
    PvP: false
    DoorsLocked: false
    ChestsLocked: false
    DispenserLocked: false
    PreventInteraction: false
    PlayerCap:
      Cap: 0
  Protection:
    FireProtection: false
    FireSpread: true
    ExplosionsEnabled: true
    EndermanBlock: false
  Messages:
    WelcomeMessage: <BGREEN>Welcome to <BLUE>[NAME] <BGREEN>owned by <YELLOW>[OWNER]
    LeaveMessage: <RED>You left <BLUE>[NAME] <RED>owned by <YELLOW>[OWNER]
    ProtectionMessage: <RED>This region is protected by owner <YELLOW>[OWNER]!
    PreventEntryMessage: '<RED>You cannot enter this region : <BLUE>[NAME]'
    PreventExitMessage: '<RED>You cannot exit this region : <BLUE>[NAME]'
    ShowWelcomeMessage: true
    ShowLeaveMessage: true
    ShowProtectionMessage: true
    ShowPreventEntryMessage: true
    ShowPreventExitMessage: true
    ShowPvPWarning: true
  Permissions:
    TemporaryCache:
      AddNodes: ''
      RemoveNodes: ''
    PermanentCache:
      AddNodes: ''
      RemoveNodes: ''
    TempGroups:
      AddGroups: ''
      RemoveGroups: ''
    PermGroups:
      AddGroups: ''
      RemoveGroups: ''
  Other:
    LSPS: 0
    HealthEnabled: true
    HealthRegenRate: 0
    VelocityWarp: 0
  Modes:
    ProtectionMode: WHITELIST
    PreventEntryMode: WHITELIST
    PreventExitMode: WHITELIST
    ItemControlMode: WHITELIST
  Inventory:
    PermWipeOnEnter: false
    PermWipeOnExit: false
    WipeAndCacheOnEnter: false
    WipeAndCacheOnExit: false
  Command:
    ForceCommand: false
    CommandSet: ''
  Economy:
    ForSale: false
    SalePrice: 0
  Password:
    PasswordProtection: false
    Password: NA
    PasswordMessage: <RED>Authentication required! Do /regios auth <password>
    PasswordSuccessMessage: Authentication successful!
  Spout:
    SpoutWelcomeIconID: 2
    SpoutLeaveIconID: 3
    Sound:
      PlayCustomMusic: false
      CustomMusicURL: ''
  Block:
    BlockForm:
      Enabled: true
  GameMode:
    Type: SURVIVAL
    Change: false
