Restrictions:
  Size:
  - regios.restrictions.size10
  - regios.restrictions.size20
  - regios.restrictions.size30
  - regios.restrictions.size40
  - regios.restrictions.size50
  - regios.restrictions.size60
  - regios.restrictions.size70
  - regios.restrictions.size75
  - regios.restrictions.size80
  - regios.restrictions.size90
  - regios.restrictions.size100
  - regios.restrictions.size125
  - regios.restrictions.size150
  - regios.restrictions.size175
  - regios.restrictions.size200
  Count:
  - regios.restrictions.1
  - regios.restrictions.2
  - regios.restrictions.3
  - regios.restrictions.5
  - regios.restrictions.10
  - regios.restrictions.20
  - regios.restrictions.30
  - regios.restrictions.40
  - regios.restrictions.50
  - regios.restrictions.60
  - regios.restrictions.70
  - regios.restrictions.80
  - regios.restrictions.90
  - regios.restrictions.100
  - regios.restrictions.250
  - regios.restrictions.500
  - regios.restrictions.1000
